# Needed for rules_bazel_integration_test is `bazel test //examples:all_integration_tests
#
# To update these lines, execute
# `bazel run @rules_bazel_integration_test//tools:update_deleted_packages`
build --deleted_packages=examples/cross-helloworld,examples/cross-helloworld-no-go,examples/example-aliased-dependency,examples/example-aliased-dependency/tests,examples/example-docker-project,examples/example-docker-project/maintainers,examples/example-docker-project/spk/nginx,examples/example-docker-project/tests,examples/example-kernelmod-spk,examples/example-kernelmod-spk/maintainers,examples/example-kernelmod-spk/spk/netfilter-mods,examples/example-kernelmod-spk/tests,examples/example-server,examples/example-server/api,examples/example-server/maintainers,examples/example-server/server,examples/example-server/spk/exampleserver,examples/example-server/tests,patches
query --deleted_packages=examples/cross-helloworld,examples/cross-helloworld-no-go,examples/example-aliased-dependency,examples/example-aliased-dependency/tests,examples/example-docker-project,examples/example-docker-project/maintainers,examples/example-docker-project/spk/nginx,examples/example-docker-project/tests,examples/example-kernelmod-spk,examples/example-kernelmod-spk/maintainers,examples/example-kernelmod-spk/spk/netfilter-mods,examples/example-kernelmod-spk/tests,examples/example-server,examples/example-server/api,examples/example-server/maintainers,examples/example-server/server,examples/example-server/spk/exampleserver,examples/example-server/tests,patches
